!!! 5
html.no-js(data-ng-app='smApp', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    //Place favicon.ico and apple-touch-icon.png in the root directory 
    link(rel='stylesheet', href='css/vendor/topcoat-mobile-dark.min.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/vendor/modernizr.js')
  body
    
    div(class='main-content')
      div(ui-view)
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js')
  script(src='js/vendor/angular-ui-router.min.js')
  script(src='//use.edgefonts.net/source-sans-pro:n3,n4,n6;source-code-pro:n3.js')
  script(src='js/plugins.js')
  script(src='js/app.js')
  //Google Analytics: change UA-XXXXX-X to be your site's ID. 
  script
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
